/* You can add global styles to this file, and also import other style files */
body {
    font-size: 100%;
    font-family: "Roboto", sans-serif !important;
  }
  
  .next-med-row {
    margin-top: 5%;
  }

  a {
    color:#FFFFFF !important;
  }
  