﻿<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<div class="row mt-3">
  <div class="col-md-8 offset-md-2">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchQuery"
      />
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="searchBook()">
          <i class="fa fa-search"></i>
        </button>
        <button
          [hidden]="!searchQuery"
          class="btn btn-sm btn-primary ml-2"
          (click)="clear()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="books" class="container">
  <div class="row mt-3" *ngIf="books">
    <div class="col-sm-3" *ngFor="let book of books" style="padding:1%">
      <mat-card style="border: 1px solid grey">
        <!-- <mat-card-title>{{ book.title }}</mat-card-title> -->
        <img
          style="height: 300px"
          mat-card-image
          src="{{ book.coverPicture }}"
        />
        <mat-card-content>
          <span class="text-center">{{ " Rs. " + book.price }}</span>
          <p style="min-height: 80px;">
            {{ book.description.substr(0, 50) + "..." }}
          </p>
        </mat-card-content>

        <mat-card-actions class="text-center">
          <button class="btn btn-primary" (click)="viewBook(book)">
            View Details
          </button>
          <span style="padding:2%"></span>
          <button class="btn btn-success" (click)="gotoCart(book)">
            Buy Now
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="books.length <= 0">
    <div class="alert alert-danger mt-3">
      <strong>Oops!</strong> Can't find books with {{ searchQuery }}
    </div>
  </div>
</div>
