<div *ngIf="cartItems.length > 0">
  <table class="table text-center mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Logo</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Discount</th>
        <th scope="col">After Discount</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of cartItems; let i = index">
      <tr>
        <th>{{ i + 1 }}</th>
        <td>
          <img class="img-logo" src="{{ item.coverPicture }}" />
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.author }}</td>
        <td>Rs. {{ item.price }}</td>
        <td>
          <input
            type="number"
            min="1"
            max="10"
            class="item-quantity"
            [(ngModel)]="item.orderQuantity"
            (change)="updateTotalCost()"
          />
        </td>
        <td>
          {{ item.discount != "0" ? item.discount + "%" : "-" }}
        </td>
        <td>
          Rs.
          {{
            item.price * item.orderQuantity -
              item.price * item.orderQuantity * (item.discount / 100)
          }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-end">
    <div
      class="col-4 mt-3"
      style="margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem"
    >
      <div class="col-12 mt-3">
        <span class="col-6">Final Amount : </span>
        <span class="col-6">Rs. {{ finalAmount }} </span>
      </div>
      <div class="col-12 mt-3">
        <span class="col-8">One click away!!</span>
        <span class="col-3">
          <button class="btn btn-sm btn-success">Confirm</button>
        </span>
      </div>
      <div class="col-12 mt-3"></div>
    </div>
  </div>
</div>
<div *ngIf="cartItems.length <= 0">
  <div class="alert alert-primary mt-3" role="alert">
    Oops! Cart is empty. Please <a routerLink="/Home" class="alert-link">Click here</a>  to surf.
  </div>
</div>
