<div>
  <table class="table text-center mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order ID</th>
        <th scope="col">Total Items</th>
        <th scope="col">Ordered Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total Price</th>
        <th scope="col">Total Discount</th>
        <th scope="col">Final Price</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders; let i = index">
      <tr>
        <th>{{ i + 1 }}</th>
        <td>
          {{ order.id }}
        </td>
        <td>{{ order.items.length }}</td>
        <td>{{ order.orderedDate | date :'medium' }}</td>
        <td>{{ order.status }}</td>
        <td>Rs. {{ order.totalPrice }}</td>
        <td>{{ order.totalDiscount != 0 ? order.totalDiscount + "%" : "-" }}</td>
        <td>Rs. {{ order.finalPrice }}</td>
        <td>
          <button class="btn btn-sm btn-primary"> View Details </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
