﻿<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"
      ><!-- hidden spacer to center brand on mobile --></span
    >
    <a class="nav-item nav-link" routerLink="/Home" title="Home">
      Home
    </a>
    <a class="nav-item nav-link" routerLink="/MyOrders" title="My Orders">
      My Orders
    </a>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a
          class="nav-item nav-link right-side-link"
          routerLink="/MyCart"
          title="View Cart"
        >
          <i class="fa fa-cart-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link right-side-link"
          href=""
          title="Logout"
          (click)="logout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
